*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #1A1A1A
}

#voltar{
    width: 60px;
    height: 60px;
    margin-top: 10px;
}

#logo{
    width: 200px;
    height: 200px;
}

h2{
    font-family: 'Cloister Black', sans-serif;
    color: white;
    font-size: 120px;
}

.sup{
    display: flex;
    justify-content: space-between;
}