*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #1A1A1A
}

#voltar{
    width: 60px;
    height: 60px;
    margin-top: 10px;
}

#logo{
    width: 200px;
    height: 200px;
}

h2{
    font-family: 'Cloister Black', sans-serif;
    color: white;
    font-size: 120px;
}

.sup{
    display: flex;
    justify-content: space-between;
}

h3{
    color: white;
    font-size: 30px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.info{
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    margin-left: 20px;
}

.info input{
    height: 40px;
    width: 300px;
    border-radius: 12px;
}

.no{
    position: relative;

}

.cor-c{
display: flex;
position: relative;
bottom: 160px;
}

.cor input{
    width: 100px;
}

.tam{
    position: relative;
    bottom: 250px;
}

.load input{
    height: 70px;
    width: 460px;
    border-radius: 12px;
}

.bot{
    text-align: center;
    
}

.bot button{
    height: 80px;
    width: 250px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    margin-top: 30px;
}