*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: space-around;
    margin: 100px 30px 0px 30px;
}

.titu{
    display: inline;
    width: 400px;
}

.titu input{
    width: 400px;
    height: 40px;
}

.titu-2{
    width: 250px;
}

.titu-2 input, .titu-3 input{
    width: 250px;
    height: 40px;
}

.titu-3{
    width: 250px;

}

.titu-4{
    width: 100px;
    flex-wrap: wrap;
}


.imgs{
    width: 50px;
}


.qtd{
    display: inline-flex;
    justify-content: space-around;
    min-width: 100px;
    align-items: center;
    border: 1px solid white;
    color: white;
    height: 40px;
    margin-bottom: 30px;
}

.qtd span{
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
}

button{
    border: 0;
    background: transparent;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

input{
    margin-bottom: 30px;
    border-radius: 10px;
}

h3{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

.imgs img{
    margin-bottom: 12px;
}

.bot{
    text-align: center;
    margin-top: 60px;
}

.bot button{
   
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    background: black;
    color: white;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 200px;
    justify-content: center;
    font-weight:bold;
}


.bot button:hover{
    background: rgb(255, 255, 255);
    color: #1A1A1A;
    transition: 1.0s;
}




