*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #1A1A1A;
}

main{
    display: block;
    text-align: center;
}


.tattoo{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    margin-bottom: 60px;
}

.chat p{
    font-size: 25px;
    color: rgb(77, 77, 77);
}

.chat{
    margin-bottom: 100px;
}

.chat img{
    width: 150px;
    margin-bottom: 30px;
}

.tattoo img{
    width: 200px;
}

.bolinha{
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%;
    margin-left: 20px;
}

.msg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg input{
    width: 80vw;
    height: 50px;
}

.msg img{
    height: 50px;
    margin-left: 10px;
    cursor: pointer;
}

