*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: #1A1A1A;
}

nav li{
    display: inline-block;
    font-size: 18px;
    width: 180px;
    text-align: center;
    margin-right: 5px

}

nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 30px;
    width: 180px;

    }

nav li a:hover{
    background-color: black;
    color: white;
    text-decoration: underline;
}

.dropdown-menu{
    position: absolute;
    display: none;
    font-size: 20px;
    margin: 0px;
    width: 180px;
    
}

.dropdown img{
    width: 50px;
    height: 50px;
}

.dropdown-menu a{
    display: block;
}

.dropdown:hover .dropdown-menu{
    display: block;
}



.menu{
    display: flex;
    flex-flow: nowrap;
    height: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
    margin-bottom: 30px;

}

.logo-cabecalho{
    display: flex;
    flex: 70%;
    
}

.logo-c{
    display: flex;
    flex: 70%;    
}

.plogo{
    color: white;
    display: flex;
    align-items: center;
    font-style: oblique;
    font-size: 35px;
    font-family: 'Great Vibes', sans-serif;                                               
}

.links{
    display: flex;
    font-size: 30px;
    flex: 80%;
    justify-content: flex-end;
}

.links a{
    padding: 15px;
    text-decoration: none;
    color: white;
    
}
.as{
    margin-top: 30px;
}

.links a:hover{
    text-decoration: underline;
}

.redes{
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
}

.redes a{
    background: none;
    margin: 0;
    border: 0;
}
.as2{
    margin-top: 25px;
}

main{
    display: flex;
    justify-content: center;
    color: white;
}

.rec{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    min-height: 100vh;
    text-align: center; 
}

.rec h1{
    position: relative;
    bottom: 250px;
    font-size: 70px;
    font-family: 'Cloister Black', sans-serif;
}

h2{
    text-align: left;
    margin-bottom: 10px;
}

.rec .seta{
    position: relative;
    bottom: 230px;
    right: 360px;
    cursor: pointer;
}


.rec input{
    width:30rem;
    height: 3rem;
    font-size: 18px;
}

.rec button{
    width: 30rem;
    height: 3rem;
    cursor: pointer;
    background: black;
    color: white;
    font-size: 25px;
    border-radius: 8px;
    margin-top: 30px;
    border: none;
}

.rec button:hover{
    background: #004578;
    transition: 0.5s;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    min-height: 100vh;
    background: #0e0e0e;
}

.logo img{
    height: 400px;
    width: 400px;
}

.sup{
    display: flex;
    font-size: 30px;
    color: white;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    cursor: pointer ;  
    text-align: center;  
    width: 30rem;
    background: black;
    

}

.sup h3{
    margin-left: 10px;
}


