*{
    margin: 0;
}

body{
    background: #1A1A1A;
}

.cima{
    display: flex;
    justify-content: space-between;
    color: white;
    
}

#seta{
    width: 80px;
    height: 80px;
    margin: 10px 0px 0px 10px;
}

h2{
    font-size: 100px;
    font-family: 'Cloister Black', sans-serif;
    text-align: center;
}

#logo{
    width: 200px;
    height: 200px;
}


.principal{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}



.principal input, .inp1 input{
    width: 200px;
    height: 40px;
}



.labels{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: -45px;
}

label{
    font-size: 26px;
    color: white;
}

#data{
    margin-right: 100px;
}

#dat{
    margin-right: 150px;
}

.segunda{
display: flex;
justify-content: center;
}
    
.inp1{
    margin-right: 170px;
    position: relative;
    right: 85px;
}

.inp2 {
    color: white;
    font-size: 24px;
    margin-left: -150px;
}

.inp2 input{
    width: 20px;
    height: 20px;
    margin-right: 10px;

}


.label2{
    display: flex;
    justify-content: center ;
    align-items: flex-end;
    height: 100px;
}

.label2 label{
    margin-right: 120px;
}

.l2{
    position: relative;
    left: 80px;
}

button{
    background: black;
    color: white;
    padding: 24px;
    border: 0;
    font-size: 22px;
    border-radius: 8px;
    margin-top: 100px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
button:hover{
    background: #f5f5f5;
    color: #101026;
    transition-duration: 1s;
    border-radius: 16px;
}