*{
    margin: 0;
}

body{
    background: #1A1A1A;
}

.principal {
    display: flex;
}


.avatar{
    display: flex;
    background: #1A1A1A;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

#editar-foto{
   margin-top: 190px;
   width: 170px;
   text-align: center;
   margin-left: -185px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-style: italic;
   font-weight:bold ;
    padding: 10px;
    background: #333333;
    color: white;
    border-radius: 12px;
    border: 1px solid #333333;
    cursor: pointer;
}


.seta-voltar a{
    display: flex;
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 30px;
    cursor: pointer;
}

.logo{
    display: flex;
    width: 200px;
    height: 200px;
}

.dados-cliente{
    display: inline-block;
    color: white;
    align-self: center;
    margin-top: 150px;
    margin-left: 30px;
}

.dados-cliente h2{
    display: inline;
}

.dados-cliente input{
    margin-bottom: 20px;
    margin-left: 5px;
    width: 400px;
    background: #333333;
    color: white;
    padding: 6px;
}

#concluir{
    border: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    background: #333333;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    font-size: 24px;
    margin-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight:bold 

}

.link-button{
    text-decoration: none;
}


/*-----FOOTER-----*/
footer{
    background-color: black;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#suporte-link{
    color: white;
    font-size: 20px;
    text-decoration: underline;
}