*{
    padding: 0;
}

main{
    background-image: linear-gradient(black, gray);
}

/*topo*/
#titulo{
    color: white;
    font-family: 'Cloister Black', sans-serif;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 42%;
    padding: 20px;
}

form{
    margin-left: 35%;
    margin-bottom: 100px;
}

#pesquisa{
    padding-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 20px;
    font-size: 20px;
}

#pesq{
    height: 40px;
    position: relative;
    top: 10px;
    left: 5px;
    cursor: pointer;
}

button{
    background-color: transparent;
    border: 0;
}

/*Meio*/
.produtos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.produtos img{
    width: 250px;
    height: 250px;
}

.prod1{
    width: 200px;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.prods{
    width: 200px;
}

#estrela{
    width: 200px;
    height: 60px;
}

a{
    text-decoration: none;
}

h4{
    color: white;
    font-size: 20px;
}

p{
    color: white;
    font-size: 20px;
    margin: 0;
}
