*{
    padding: 0;
}

main{
    background-image: linear-gradient(black, gray);
}

/*topo*/
#titulo{
    color: white;
    font-family: 'Cloister Black', sans-serif;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 42%;
    padding: 20px;
}

form{
    margin-left: 35%;
}

#pesquisa{
    padding-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 20px;
    font-size: 20px;
}

#pesq{
    height: 40px;
}

button{
    background-color: transparent;
    border: 0;
}
