*{
    margin: 0;
    box-sizing: border-box;
}

.esquerda{
    display: flex;
    width: 50%;
    height: 650px;
    background: #0d0d0d;
    justify-content: center;
    align-items: center;
}

.direita{
    display: flex;
    width: 50%;
    background: #1A1A1A;
    height: 650px;
    float: right;  
    margin-top: -650px;
    justify-content: flex-end;
    align-items: center;
}

.logo img{
    width: 500px;
    height: 500px;
}

h2{
    color: white;
    font-size: 50px;
    font-family: 'Cloister Black', sans-serif;
}

.cima{
    display: flex;
    margin-top: -580px;
    margin-right: -200px;
}

p{
    display: inline;
    font-family: normal;
    font-style: italic;
    font-size: 30px;
    color: white;
    margin-top: 20px;
    margin-left: 15px;
}

.opcs img{
    width: 80px;
    height: 80px;
    position: relative;
    top: 50px;
    left: 40px;
}

h3{
    color: white;
    font-size: 40px;
    position: relative;
    bottom: 20px;
    left: 130px;
}

.opcs{
    display: inline-block;
}

#hori{
    border-top: 2px solid white;
    position: relative;
    top: 25px;
    width: 400px;

}


