*{
    margin: 0;
}

body{
    background: #1A1A1A
}

#voltar{
    width: 60px;
    height: 60px;
    margin-top: 10px;
}

#logo{
    width: 200px;
    height: 200px;
}

h2{
    font-family: 'Cloister Black', sans-serif;
    color: white;
    font-size: 120px;
}

.sup{
    display: flex;
    justify-content: space-between;
}

h3{
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.formas button{
    border: none;
    background: #000000;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 200px;
    border-radius: 12px;
    border: none;
    height: 60px;
    font-size: 25px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.formas button:hover{
    background: #f5f5f5;
    color: #101026;
    transition-duration: 1s;
    
}


.formas{
    display: flex;
    justify-content: space-around;
}
