*{
    margin: 0;
}


.esquerda h2{
    display: inline;
    font-family: 'Cloister Black', sans-serif;
    color: white;
    font-size: 50px;
    margin-left: 12%;
    margin-right: 10px;

}

.esquerda p{
    display: inline;
    font-size: 30px;
    font-style: italic;
    color: white;

}

.esquerda{
    background: rgb(11, 11, 11);
    height: 720px;
    width: 50%;
}

.itens1{
    display: flex;
    margin-top: 60px;
    margin-bottom: 100px;
    justify-content: center;
}


.itens2{
    display: flex;
    justify-content: center;
}


.itens1 img, .itens2 img{
    height: 150px;
    width: 150px;
    margin-right: 130px;
    margin-left: 20px;
}


.itens1 a, .itens2 a{
text-decoration: none;
}

.itens1 h4, .itens2 h4{
    color: white;
    font-size: 25px;
    margin-top: 160px;
    margin-left: -230px;
}


#agenda{
    margin-left: -245px;

}

#loja{
    margin-left: -225px;
}

#orcamento{
    margin-left: -260px;
}

.itens2 img{
    margin-left: 10px;
}

#orc{
    margin-left: 25px;

}

.logoff{
    width: 150px;
}

.logoff img{
    width: 45px;
    height: 45px;
    margin-top: 60px;
    margin-left: 10px;
}

.logoff h4{
    display: flex;
    font-size: 25px;
    margin-top: -45px;
    margin-left: 60px;
}

.logoff a{
    text-decoration: none;
    color: white;
}


.logo{
    display: flex;
    margin-left: 760px;
    background: rgb(11, 11, 11);
    height: 720px;
    width: 50%;

    background-color: rgb(11, 11, 11);

    margin-top: -750px;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
}

.logo img{
    width: 400px;
    height: 400px;
}

.opcoes{
    display: flex;
    margin-top: -130px;
    width: 800px;
    height: 100px;
    float: right;
    justify-content: center;
    align-items: center;
}

.segunda{
    margin-left: 300px;
}

.primeira h2, .segunda h2{
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

button{
    background: black;
    color: white;
    padding: 16px;
    font-size: 22px;
    border-radius: 8px;
    border: 1px solid black;
    margin-left: 14px;
    cursor: pointer;
    margin-top: 5px;
    font-style: italic
    
}


