*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: white;
}

.menu{
    display: flex;
    flex-flow: nowrap;
    height: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
    margin-bottom: 30px;

}

.logo-cabecalho{
    display: flex;
    flex: 70%;
    
}

.plogo{
    color: white;
    display: flex;
    align-items: center;
    font-style: oblique;
    font-size: 35px;
    font-family: 'Great Vibes', sans-serif;
                                                
}

.links{
    display: flex;
    font-size: 30px;
    flex: 80%;
    justify-content: flex-end;
}

.links a{
    padding: 15px;
    text-decoration: none;
    color: white;
    border: 3px solid;
    border-radius: 30px;
    margin: 10px;
    background: #333333;

}

.links a:hover{
    text-decoration: underline;
}

.redes{
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
}

.redes a{
    background: none;
    margin: 0;
    border: 0;
}

/*-----FOOTER-----*/
footer{
    background-color: black;
    color: white;
    font-size: 30px;
    margin-top: 30px;

}

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#suporte-link{
    color: white;
    font-size: 30px;
    text-decoration: underline;
}