.cont{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    width: 100%;
    margin-top: 160px;
}

.up-prod{
    display: flex;
    flex-direction: column;
}

.up-prod img{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.carac-prod{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 300px;
}

.carac-prod input, select{
    width: 300px;
}

.input-tamanho{
    display: none;
    margin-left: -40px;
}